<div class="row">
  <div class="col text-center">
    <img class="img-thumbnail rounded-circle" src="img/boy.jpg" width="300" alt="Foto Profil" />
    <h1 class="display-4">Iwan Plamboyan</h1>
    <div class="lead">Peserta Bootcamp batc 3</div>
  </div>
</div>
